@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
.italiana-regular{
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
form{
    display: flex;
    flex-grow: 1;
}
input:focus {
  outline: none;
}
input{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    background: none;
}
body{
     margin: 0;
    font-family: "Italiana", sans-serif;
}
nav {
    align-items: center;
    flex-grow: 1;
    background-color: rgba(9, 9, 9, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    color: rgba(255, 255, 255, 1);
}
nav img{
    height: 30px;
}
#search{
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    height: 40px;
    display: flex;
    border-radius: 25px;
    flex-grow: 1;
    color: rgba(121, 115, 115, 1);
    
}
#search button{
    border: none;
    background: none;
}
#icons{
    align-items: center;
    display: flex;
    gap: 25px;
}
#inicio{
    margin-top: 30px;
    background-color: rgba(9, 9, 9, 1);
    padding:  5px;
    max-width: fit-content;
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    margin-bottom: 30px;
    
    border-radius: 20px;
    }
#flexx{
    display: flex;
    justify-content: center;
}
.produtos{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
}
.green{
    color: rgba(88, 191, 68, 1);
}
.roupas img{
    width:  auto;
    height: 300px;
}
.roupas{
    justify-self: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px 30px;
    display: flex;
    margin-bottom: 30px;
    background-color: rgba(217, 217, 217, 1);
    gap: 100px;
}
.old{ 
    text-decoration: line-through;
}
