@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
.italiana-regular{
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#desconto{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    }
nav {
    align-items: center;
    flex-grow: 1;
    background-color: rgba(9, 9, 9, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    color: rgba(255, 255, 255, 1);
}
nav img{
    height: 30px;
}
#search{
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    height: 40px;
    display: flex;
    border-radius: 25px;
    flex-grow: 1;
    color: rgba(121, 115, 115, 1);
    
}
#search button{
    border: none;
    background: none;
}
#icons{
    align-items: center;
    display: flex;
    gap: 25px;
}
body{
    margin: 0;
    
}
#maior img{
    display: flex;
    height: auto;
    width: 314px;
}
#menores{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#menores img{
    height: 150px;
    width: 189px;
}
#flex{ 
   flex-wrap: wrap;
   display: flex;
   padding-top: 20px;
   gap: 30px;
   padding-bottom: 20px;
   margin: 15px;
}
#bege{
    background-color: rgba(210, 187, 156, 1);
    width: 170px;
    height: 125px;
    border: 1px solid #000;
}
#texto{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}
#main_sec{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#opcoes{
    margin-top: 10px;
}
#opcoes button{
    background-color: rgba(217, 217, 217, 1);
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
}
#color{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    background-color: rgba(210, 187, 156, 1) ;
}
#butao, #butaoo{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);
    height: 60px;
    width: 160px;
}
#naoo{
    display: flex;
    align-items: center;
}
#mais{
    width: 30px;
    height: 30px;
}
#menos{
    width: 30px;
}
#comentarios{
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#border{
    border-top: 5px solid;
    border-color: black;
}

#comentum{
   flex-wrap: wrap;
   flex-direction: column;
   display: flex;
   margin-top: 20px;
   padding-left: 10px;
   padding-top: 5px;
   background-color: rgba(217, 217, 217, 1);
   font-family: "Italiana", sans-serif;
   font-size: 20px;
   border-radius: 10px;
}
#estrelas{
    display: flex;
    flex-direction: row;
}
.star{
    width: 24px;
    height: 24px;
}
#comment{
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.session{
   flex-wrap: wrap;
   border-radius: 10px;
   flex-wrap: wrap;
   flex-grow: 1;
   padding-left: 10px;
   padding-top: 5px;
   background-color: rgba(217, 217, 217, 1);
   font-family: "Italiana", sans-serif;
   font-size: 20px;
   
}
#More{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#More img{
    height: 300px;
    width: 200px;
}
#Ver{
    flex-wrap: wrap;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin: 5%;
    background-color: rgba(217, 217, 217, 1);
}
footer{
    background-color: rgba(217, 217, 217, 1);
    font-family: "Italiana", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
.Coluna{
    display: flex;
    flex-direction: column;
    
}
.Title{
    font-size: 40px;
}
.Subtitle{
    font-size: 30px;
}